.search-page{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.search-page>h1{
    font-size: 2rem;
}

.search-page>div{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.search-page>div>input{
    width: 75%;
    padding: 1rem;
    border-radius: 0.6rem;
    font-size: 1rem;
}

.search-page>div>button{
    padding: 1rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.6rem;
    cursor: pointer;
}