.book-card {
    border: 1px solid #ccc;
    border-radius: 0.3rem;
    padding: 30px;
    width: 150px;
    text-align: center;
  }
  
  .book-card img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .book-card h3 {
    font-size: 16px;
    margin: 5px 0;
  }
  
  .book-card p {
    font-size: 14px;
    margin: 5px 0;
  }
  
  .book-card button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 0.6rem;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
  }
  
  .book-card button:hover {
    background-color: #29bd2e;
  }